@font-face{
    font-family: digital-7;
    src: url(fonts/digital-7.ttf);
}

body {
    color: #DAD6D6;
    font-family: digital-7;
    text-align: center;  
    background-color: #171A21;
    background-image: url(../images/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
}

div{
    min-width: 20%;
    max-width: 100%;
    margin: 100px auto;
}


#timer{
  font-size: 2.5em;
}

#start {
margin: 20px auto;
text-align: center;
color: #DAD6D6;
background: #337713;
border-radius:5px;
padding:16px 40px 16px;
letter-spacing: 2px;
cursor:pointer;
}

#stop {
  margin: 20px 5px auto;
  text-align: center;
  color: #DAD6D6;
  background: #721313;
  
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
  }
  
  #reset {
  margin: 20px auto;
  text-align: center;
  color: #DAD6D6;
  background: #564E58;
  
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
  }
  
  h1
  {
  letter-spacing: 10px;
  margin: 150px 0 0 ;
  }